<head>
<title>
  ultimative highoutput word
</title>
</head>
<body>
  <center>
    <a href="/showall">showall</a>
    <a href="/addnewhow">addnew</a>
    <a href="/highoutputword">random highoutputword</a>
    <hr>
    <br>
    <h1>{{ . }}</h2>
    <br>
    <hr>
    <p>
    for next ultimative High-Output-Word<br>
    press F5 or reload the page
    </p>
    <br>
    I run as a single binary in a docker container<br>
    with nearly no dependencies
  </center>

</body>
