<head>
<title>
  ultimative highoutput word
</title>
</head>
<body>
  <center>
    <a href="/showall">showall</a>
    <a href="/addnewhow">addnewhow</a>
    <a href="/highoutputword">random highoutputword</a>
    <hr>
    <br>
    {{ range $hwo := . }}
      {{  $hwo }}<br>
    {{ end }}
  </center>

</body>
