<head>
<style>
table, th, td {
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    width: 150px;
}
th {
    text-align: right;
}
td {
    text-align: left;
}
</style>
<title>
  random swiss lotto numbers
</title>
</head>
<body>
  <center>
    <table>
      <tr>
        <th>Lottozahlen:</th>
        <td>
          {{ range $n := .Numbers }}
            {{ $n }}
          {{ end }}
        </td>
      <tr>
        <th>Glückszahl:</th>
        <td>
          {{ range $n := .Lucky }}
            {{ $n }}
          {{ end}}
        </td>
      </tr>
    </table>
  </center>
</body>
